.nav_item {
    position: relative;
}

.nav_item::after {
    content: ' ';
    height: 2px;
    width: 100%;
    background-color: rgb(0 0 0 / 65%);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left; /* Sets the growth origin to the left */
    transition: transform 0.15s ease-out;
}

.nav_item:hover::after {
    transform: scaleX(1);
}